.App {
  margin: 50px auto;
  max-width: 1200px;
}

.title h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  width:100%;
}

/* 왼쪽 카드 목록 (50%) */
.villager-list-wrapper {
  flex: 1;
}

/* 오른쪽 상세 정보 (50%) */
.villager-detail {
  flex: 1;
  padding: 1rem;
}